# Python
__pycache__/
*.pyc
*.pyo
scripts/params.py

# Jupyter
.ipynb_checkpoints

# OS files
.DS_Store
Thumbs.db

# IDE / project files
.vscode/
*.iml

# Logs
*.log

# Data, figures and jupyter notebooks
data/
figures/
notebooks/
*.nc
*.zip