# Python
__pycache__/
*.pyc
*.pyo
scripts/params.py

# Conda environment
.venv/

# Jupyter
.ipynb_checkpoints

# OS files
.DS_Store
Thumbs.db

# IDE / project files
.vscode/
*.iml

# Logs
*.log

# Data (optional)
data/
plots/
scripts/*.txt